/* .vuepress/styles/index.styl */
.home .hero {
  padding: 10px 0; /* 调整标题部分的上下内边距 */
}

.home .hero h1 {
  font-size: 2rem !important; /* 调整标题的字体大小 */
  margin-bottom: 20px; /* 调整标题和描述之间的间距 */
}

.home .hero p {
  font-size: 1rem !important; /* 调整描述的字体大小 */
  margin-bottom: 20px !important; /* 调整描述和按钮之间的间距 */
}

.home .hero img {
  max-height: 900px !important;
}
